@import './sharedVariables';

.header,
.header *{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.header {
  background-color: $bridgePurple;
  .contentHolder {
    display: flex;
    align-items: center;
  }
}

.headerText {
  margin: 18px 25px 22px 25px;
}

.bridgeLogo {
  height: 40px;
  align-self: center;
  fill: white;
  width: auto;
}

.backBtn{
  margin-right: .5em;
}