$black: #26262A;
$bridgePurple: #4E57CA;
$bridgePink: #e93397;
$lightGrey: #F0F0F0;
$disabledGrey: #F4F4F4;
$boxShadow: 0px 3px 4px rgba(43, 43, 43, 0.2);

.h2 {
    font-size: 27px;
    margin-top: 50px;
}

.h3 {
    margin: 60px 0 20px;
}

/*
BREAKPOINTS
*/
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (max-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (max-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (max-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (max-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (max-width: $screen+'px') {
       @content;
   }
}

// example code:
// @include sm {
//         ...
//     }