/* TODO: Refactor styles with SCSS */

// $lightGrey: 
$black: #26262A;
$bridgePurple: #4E57CA;
$lightGrey: #F0F0F0;
$boxShadow: 0px 3px 4px rgba(43, 43, 43, 0.2);

/* --- GENERAL STYLES --- */
html {
  font-size: 62.5%;
}

body {
  background-color: white;
  color: $black;
  font-size: 1.6rem;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

/* --- HEADER STYLES --- */
header {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  background-color: $bridgePurple;

  .contentHolder {
    display: flex;
  }

  p {
    margin: 18px 25px 22px 25px;
  }

  img {
    height: fit-content;
    align-self: center;
  }
}

.bridgeLogo {
  height: 40px;
  align-self: center;
  fill: white;
  width: auto;
}

/* --- LIST STYLES --- */
.list h2 {
  font-size: 3rem;
  margin-top: 60px;
  margin-bottom: 35px;
}

.listItem {
  background-color: $lightGrey;
  border-radius: 6px;
  margin-bottom: 22px;
  font-size: 2.5rem;
  font-weight: bold;
  border: 1px solid #efeded;

  a {
    display: block;
    border-radius: 6px;
    padding: 25px 40px;
    box-shadow: none;
    transition: box-shadow 0.15s ease-in;

    &:hover, &:focus {
      box-shadow: $boxShadow;
    }
  }
}


